{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    {{ object.title }}
    {% if object.head_image %}
        <img src="{{ object.head_image.url }}" width="300">
    {% endif %}
    {{ object.formatted_markdown | safe }}
    {% if object.author == request.user %}
    <button type="button" onclick="location.href='{{ object.get_update_url }}'">
        Edit
    </button>
    <button type="button" onclick="location.href='/posts/{{ object.pk }}/delete/'">
        Delete
    </button>
    {% endif %}
</div>

<form method="post" action="{{ object.get_absolute_url }}new_comment/">
    {% csrf_token %}
    {{ comment_form | crispy }}
    <button type="submit">
        submit
    </button>
</form>

<p>댓글개수 : {{ post.comment_set.all.count }}</p>

{% for comment in object.comment_set.all %}
    <div id="comment-id-{{ comment.pk }}">
        <h5>{{ comment.author }}</h5>
        <p>{{ comment.formatted_markdown | safe }}
        <small>{{ comment.created }}</small>
        </p>
        {% if comment.author == request.user %}
        <button type="button" onclick="location.href='/posts/update_comment/{{ comment.pk }}'">
        Edit
        </button>
        <button type="button" onclick="location.href='/posts/delete_comment/{{ comment.pk }}'">
        Delete
        </button>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}