{% extends 'posts/base.html' %}
{% block content %}
{% for p in object_list %}
<div class="card mb-4">
    <a href="/posts/{{ p.id }}/">
        {% if p.head_image %}
        <div class="image-box">
            <img class="card-img-top rounded image-thumbnail" src="{{ p.head_image.url }}" alt="..." />
        </div>
        {% else %}
        <div class="image-box">
            <img class="card-img-top image-thumbnail" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
        </div>
        {% endif %}
    </a>
    <div class="card-body">
        <div class="small text-muted">{{ p.updated }}</div>
        <h2 class="card-title">{{ p.title }}({{ p.comment_set.all.count }})</h2>
        <p class="card-text">
        </p>
        <a class="btn btn-primary" href="/posts/{{ p.id }}/">글 읽기</a>
    </div>
</div>
{% endfor %}
{% endblock %}