{% extends 'posts/base.html' %}

<h1>{% if category %} <small>:{{ category }}</small>{% endif %}</h1>

{% if title %}
    {% block title %}{{ title }}{% endblock %}
{% endif %}

{% block content %}
<div>
    
    <table class="table">
    {% for p in object_list %}
    <thead>
        <tr>
            <th>
                <a href="#">{{ p.title }}</a>
                {{ p.updated }}
                <a href="#">{{ p.author }}</a>
            </th>
        </tr>
    </thead>
    {% endfor %}
    </table>
</div>
{% endblock %}